body {
  background-color: #efeee7;
  font-family: Georgia,"Times New Roman",Times,serif;;
  color: #333333;
  margin: 0;
  padding: 0;
}

a {
  color: #d21034;
  text-decoration: none;
}
.container {
  margin: 0 auto;
  width: 1024px;
  margin-left: 20px;
  margin-top:40px;

}

.header {
  background-color: #333333;
  color: #eeeeee;
  font-size: 24px;
  position: fixed;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}
#main-bio {
  float: left;
  widows: 70%;
}
#contact-info {
  float: left;
  width: 30%;
  margin-top: 10px;
}
#bio-image {
  float: left;
  width: 200px;
  margin-right:10px;
}

h2 {
  font-size: 24px;
}
h1 {
  font-size: 28px;
  color: #eee;
}
header {
  background-color: #333333;
}